
 :root {
  --primary-color: #c72424;
  --secondary-color: #c9c9c9;
  --dark-grey: #1b1b1b;
--visited-color: rgb(6, 6, 59);
--active-color: #ff0000;
--element-selector-color: grey;
--border-color: white;
--grid-item-color: #2d5f89;
--button-background-color: #145c50;
--color-change-animation-color1: #edc655;
--color-change-animation-color2: #f76414;
--font-size-h1: 30px;
--font-size-h2: 24px;
--font-size-h3: 18px;
--max-width: 700px;
--font-weight: 700;
--width: 100%;
}

 body {
  background-color: var(--secondary-color);
  color: var(--border-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 16px;
    /* Sets the font size to 16px */
    line-height: 1.6;
    /* Sets the line-height to 1.6 */;
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight);
  }
  
  h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight);
  }
  
  h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight);
  }


  a {
    color: var(--visited-color);
  }
  a:visited {
    /* visited link */
    color: #05676e;
  }
  a:hover , a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
  }
  
  
  a:active {
    /* selected link */
    color: #000000;
  }
  button {
    /* overwrites browser defaults and resets the border */
    border: none;
    /* takes the font from the outer container */
    font-family: inherit;
    /* styles the background color, font color, and text decoration (underline, etc.) of the button */
    background-color: var(--button-background-color)
    color white;
    text-decoration: none;
    /*adds spacing to the button (this will be discussed more in-depth later) */
    padding: 10px;
    border-radius: 3px;
    /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  button:hover, button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;
    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
  }
  .button__secondary {
    background-color: var(--active-color);
    color: #2b2b2b;
  }
  .navigation-list__item--active {
    text-decoration: none;
  }
  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
  }
  .page-footer {
    clear: both;
  }
  .profile {
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .profile__portrait {
    float: left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;
  }
  * {
    box-sizing: border-box;
  }
  .page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}
.page-header__item {
  flex: 0 1 200px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}
 .navigation-list {
  list-style-type: none;
}
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
.grid {
  display: grid;
}
.grid-item {
  background-color: var(--grid-item-color);
}
.grid {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

.button, button {
  /* overwrites browser defaults */
  /* resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* style button */
  background-color: #357b70;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  /* width of the border, type, color */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 0.2s opacity;
}

@keyframes color-change {
  0% {
    fill: var(--color-change-animation-color1);
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: var(--color-change-animation-color2);
  }
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
.about-content {
  max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.navigation-list,
.about-list {
  background-color: var(--dark-grey);
  list-style-type: none;
}
.about-list {
  padding-left: 0px;
}
.about-class {
  list-style-type: none;
}